body {
font-family: sans-serif;}

.textjustify{
  text-align: justify;
}

.textcenter{
  text-align: center;
}

h1 {
  font-style: italic;
  font-weight: normal;
  color: #ffcc00;
}

h2 {  font-style: italic;
  font-weight: normal;
  color: #ffcc00;
}

h3 {
  font-style: italic;
  font-weight: normal;
  color: #ffcc00;
}

.imgbox {
border: 50px solid #000000;
padding: 50px 50px 50px 50px;
margin: 50px 50px 50px 50px;
background-color: #ffffff;
}

body {
background-image: url(desert.jpg);
background-repeat: no-repeat;
background-position: top left;
}
