

.imgbox {
border: 0px solid #000000;
padding: 0px 0px 00px 00px;
margin: 30px 0px 0px 210px;
background-color: #ffffff;
}

h1 {
font-style: impact;
font-weight: normal;
text-align: center;
font-weight: bold;
font-size: 100px;
margin: 120px 60px 0px 90px;
color: #6699ff;

}

h2 {
  font-style: impact;
  text-align: right;
  color: #ffffff;
  font-weight: normal;
  font-size: 15px;
  margin:
}

.bottomtext{
  font-style: normal;
  text-align: center;
  color: #6699ff;
  margin-top: 560px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;

}


.blueboldspan
{color:  #6699ff;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;

}

.bluenotboldspan
{color:  #6699ff;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  margin-top: 10px;
}

.link
{color:  #6699ff;
  font-style: normal;
  font-weight: bold;
  font-size: px;
  margin-top: 80px;
}

a {
 color: #6699ff;
 font-weight: bold;
 text-decoration: none;

}

a:hover {
 color: #ffb84d;
 text-decoration: underline;
}



#orangeospan
{color:   #ffb84d;
font-style: normal;
font-weight: bold;
font-size: 100px;
}


body {
background-color: none;
background-image: url(Soul.png);
background-repeat: no-repeat;
width: 600px;
}
